$numberBlockHeight: 140px;
$numberBlockWidth: 140px;
$filledBarColor: rgb(238, 153, 6);
$clockBackground: rgba(23, 23, 23, 1);
$borderTop: 20px rgb(238, 153, 6) solid;
$borderTopHalf: 10px rgb(238, 153, 6) solid;
$borderRight: 20px rgb(238, 153, 6) solid;
$borderBottom: 20px rgb(238, 153, 6) solid;
$borderBottomHalf: 10px rgb(238, 153, 6) solid;
$borderLeft: 20px rgb(238, 153, 6) solid;